<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:flashMessages/>

<f:if condition="{messageKey}">
    <h3>
        <f:render partial="RenderLabelOrMessage" arguments="{key: '{messageKey}_header'}"/>
    </h3>
    <p>
        <f:render partial="RenderLabelOrMessage" arguments="{key: '{messageKey}_message'}"/>
    </p>
</f:if>

<f:form target="_top" fieldNamePrefix="" action="login" requestToken="{requestToken}" additionalAttributes="{spellcheck: 'false'}">
    <f:render section="content" arguments="{_all}"/>
</f:form>

<f:if condition="{settings.showForgotPassword}">
    <f:link.action action="recovery" controller="PasswordRecovery">
        <f:render partial="RenderLabelOrMessage" arguments="{key: 'forgot_header'}"/>
    </f:link.action>
</f:if>

<f:section name="content">
    <div class="form-group mb-2">
        <label for="tx-felogin-input-username">
            <f:translate key="username"/>
        </label>
        <f:form.textfield name="user" required="true" additionalAttributes="{autocomplete: 'username'}" id="tx-felogin-input-username" class="form-control"/>
    </div>
    <div class="form-group mb-3">
        <label for="tx-felogin-input-password">
            <f:translate key="password"/>
        </label>
        <f:form.password name="pass" class="form-control" additionalAttributes="{required: 'required', autocomplete: 'current-password'}" id="tx-felogin-input-password"/>
    </div>

    <f:if condition="{permaloginStatus} > -1">
        <div>
            <label for="permalogin">
                <f:translate id="permalogin"/>
                <f:if condition="{permaloginStatus} == 1">
                    <f:then>
                        <f:form.hidden name="permalogin" value="0" additionalAttributes="{disabled: 'disabled'}"/>
                        <f:form.checkbox name="permalogin" id="permalogin" value="1" checked="checked"/>
                    </f:then>
                    <f:else>
                        <f:form.hidden name="permalogin" value="0"/>
                        <f:form.checkbox name="permalogin" id="permalogin" value="1"/>
                    </f:else>
                </f:if>
            </label>
        </div>
    </f:if>

    <f:form.submit value="{f:translate(key: 'login')}" class="btn btn-primary" name="submit"/>

    <div class="felogin-hidden">
        <f:form.hidden name="logintype" value="login"/>
        <f:if condition="{redirectURL}!=''">
            <f:form.hidden name="redirect_url" value="{redirectURL}" />
        </f:if>
        <f:if condition="{referer}!=''">
            <f:form.hidden name="referer" value="{referer}" />
        </f:if>
        <f:if condition="{redirectReferrer}!=''">
            <f:form.hidden name="redirectReferrer" value="off" />
        </f:if>
        <f:if condition="{noRedirect}!=''">
            <f:form.hidden name="noredirect" value="1" />
        </f:if>
    </div>
</f:section>
</html>
