<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<h3>
    <f:render partial="RenderLabelOrMessage" arguments="{key: 'status_header'}"/>
</h3>
<p>
    <f:render partial="RenderLabelOrMessage" arguments="{key: 'status_message'}"/>
</p>

<f:form action="login" actionUri="{actionUri}" target="_top" fieldNamePrefix="">
    <div class="form-group mb-3">
        <label for="tx-felogin-input-logout">
            <f:translate key="username"/>
        </label>
        <p>
            {user.username}
        </p>
    </div>

    <f:form.submit value="{f:translate(key: 'logout')}" class="btn btn-primary" name="submit" id="tx-felogin-input-logout"/>

    <div class="felogin-hidden">
        <f:form.hidden name="logintype" value="logout"/>
    </div>
</f:form>
</html>
