<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:s="http://typo3.org/ns/ApacheSolrForTypo3/Solr/ViewHelpers"
	data-namespace-typo3-fluid="true"
>

<f:section name="LastSearches">

<s:lastSearches>
	<f:if condition="{lastSearches}">

		<div id="tx-solr-lastsearches" class="secondaryContentSection card">
			<div class="card-header">
				<span class="bi bi-clock-history"></span>
				<a data-bs-toggle="collapse" href="#lastSearches">
					<f:translate key="lastSearches">Last searches</f:translate>
				</a>
			</div>

			<ul class="list-group collapse show" id="lastSearches">
				<f:for each="{lastSearches}" as="searchedFor">
					<li class="list-group-item">
						<a href="{s:uri.search.startNewSearch(queryString: searchedFor)}" class="solr-ajaxified"><f:format.htmlentities>{searchedFor}</f:format.htmlentities></a>
					</li>
				</f:for>
			</ul>
		</div>

	</f:if>
</s:lastSearches>

</f:section>

</html>
