<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="Main">

    <f:if condition="{menu}">
        <nav id="navbar-example2" class="navbar navbar-light bg-light mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <f:translate key="sites" extensionName="TwohKickstarter" />
                </a>
                <ul class="nav nav-pills">
                    <f:for each="{menu}" as="page" iteration="i">
                        <li class="nav-item">
                            <a href="#card{page.data.uid}"
                               target="{page.target}"
                               title="{page.title}"
                               class="nav-link"
                            >
                                <span>@{page.title}</span>
                            </a>
                        </li>
                    </f:for>
                </ul>
            </div>
        </nav>
        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
            <div class="row">
                <f:for each="{menu}" as="page" iteration="i">
                    <f:if condition="{page}">
                        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-12 mb-3">
                            <div class="card" id="card{page.data.uid}">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {page.title}
                                    </h5>
                                    <p class="card-text">
                                        {page.data.description}
                                    </p>
                                    <a href="{page.link}"
                                       target="{page.target}"
                                       title="{page.title}"
                                       class="btn btn-primary"
                                    >
                                        <f:translate key="more" extensionName="TwohKickstarter" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </f:if>
                </f:for>
            </div>
        </div>
    </f:if>
</f:section>
</html>