<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:s="http://typo3.org/ns/ApacheSolrForTypo3/Solr/ViewHelpers"
      data-namespace-typo3-fluid="true"
>

<f:section name="Facets">
	<div id="tx-solr-faceting">
		<f:if condition="{resultSet.facets.used -> f:count()}">
			<div class="mb-3">
				<f:render partial="Result/FacetsActive" section="FacetsActive" arguments="{resultSet:resultSet}" />
			</div>
		</f:if>

		<s:facet.area.group groupName="main" facets="{resultSet.facets.available}">
			<div class="facet-area-main">
				<div class="solr-facets-available secondaryContentSection">
					<div class="facets d-grid gap-3">
						<f:for each="{areaFacets}" as="facet">
							<div class="facet facet-type facet-type-{facet.type}" id="facet-accordion-{facet.name}">
								<f:render partial="Facets/{facet.partialName}" arguments="{resultSet:resultSet, facet:facet}"/>
							</div>
						</f:for>
					</div>
				</div>
			</div>
		</s:facet.area.group>
	</div>
</f:section>

</html>