<f:if condition="{pagination.allPageNumbers -> f:count()} > 1">
    <ul class="pagination">
        <f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
            <f:then>
                <f:comment>
                    <li class="first page-item">
                        <a href="{f:uri.action(action:actionName, arguments:{currentPage: 1},addQueryString:1)}"
                           title="{f:translate(key:'pagination.first')}"
                           class="text-decoration-none"
                        >
                            <i class="material-icons">first_page</i>
                        </a>
                    </li>
                </f:comment>
                <li class="previous page-item">
                    <a href="{f:uri.action(action:actionName, arguments:{currentPage: pagination.previousPageNumber},addQueryString:1)}"
                       title="{f:translate(key:'pagination.previous')}"
                       class="page-link"
                    >
                        <h4 class="h4 mb-0"><<</h4>
                        <f:comment>
                            {f:translate(key:'widget.pagination.previous', extensionName: 'fluid')}
                        </f:comment>
                    </a>
                </li>
            </f:then>
            <f:else>
                <f:comment>
                    <li class="disabled"><span><i class="material-icons">first_page</i></span></li>
                    <li class="disabled">
                        <span>{f:translate(key:'widget.pagination.previous', extensionName: 'fluid')}</span></li>
                </f:comment>
            </f:else>
        </f:if>
        <f:if condition="{pagination.hasLessPages}">
            <li class="page-item ellipsis"><h4 class="page-link h4 mb-0">…</h4></li>
        </f:if>
        <f:for each="{pagination.allPageNumbers}" as="page">
            <f:if condition="{page} == {paginator.currentPageNumber}">
                <f:then>
                    <li class="page-item current active"><h4 class="page-link h4 mb-0">{page}</h4></li>
                </f:then>
                <f:else>
                    <li class="page-item">
                        <a href="{f:uri.action(action:actionName, arguments:{currentPage: page},addQueryString:1)}"
                           class="page-link">
                            <h4 class="h4 mb-0">{page}</h4>
                        </a>
                    </li>
                </f:else>
            </f:if>

        </f:for>
        <f:if condition="{pagination.hasMorePages}">
            <li class="page-item ellipsis">
                <h4 class="h4 mb-0 page-link">…</h4>
            </li>
        </f:if>
        <f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
            <f:then>
                <li class="page-item next">
                    <a href="{f:uri.action(action:actionName, arguments:{currentPage: pagination.nextPageNumber},addQueryString:1)}"
                       title="{f:translate(key:'pagination.next')}"
                       class="page-link"
                    >
                        <h4 class="h4 mb-0">>></h4>
                        <f:comment>
                            {f:translate(key:'widget.pagination.next', extensionName: 'fluid')}
                        </f:comment>
                    </a>
                </li>
                <f:comment>
                    <li class="page-item last">
                        <a href="{f:uri.action(action:actionName, arguments:{currentPage: pagination.lastPageNumber},addQueryString:1)}"
                           title="{f:translate(key:'pagination.last')}">
                            last
                        </a>
                    </li>
                </f:comment>
            </f:then>
            <f:else>
                <f:comment>
                    <li class="disabled">
                        <span>{f:translate(key:'widget.pagination.next', extensionName: 'fluid')}</span></li>
                    <li class="disabled"><span>last page</span></li>
                </f:comment>
            </f:else>
        </f:if>
    </ul>
</f:if>
