<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<!-- categories -->
<span class="news-category">
	<f:for each="{categories}" as="category" iteration="i">
		<f:if condition="{category.shortcut}">
			<f:then>
				<f:link.typolink parameter="{category.shortcut}">
					{category.title}{f:if(condition: '{i.isLast}', then: '', else: ',')}
				</f:link.typolink>
			</f:then>
			<f:else>
				{category.title}{f:if(condition: '{i.isLast}', then: '', else: ',')}
			</f:else>
		</f:if>
	</f:for>
</span>
</html>
