<f:layout name="Boxed" />

<f:section name="content">

<div class="counter-container {flexform.bgcolor}
            {f:if(condition: '{flexform.marginPos} != \'-\'', then: 'm{flexform.marginPos}{flexform.margin}', else: 'my-0')}">

    <div class="container">
        <div class="counter-container-title pt-2 mb-1
                    {f:if(condition: flexform.headerPosition, then: flexform.headerPosition, else: '')}">
            <f:render partial="Header" arguments="{_all}"/>
        </div>

        <div class="row mb-1 pb-quarter">
            <div class="col-lg-4 col-md-6 col-12">
                <f:for each="{children_101}" as="record">
                    <f:format.raw>
                        {record.renderedContent}
                    </f:format.raw>
                </f:for>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <f:for each="{children_102}" as="record">
                    <f:format.raw>
                        {record.renderedContent}
                    </f:format.raw>
                </f:for>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <f:for each="{children_103}" as="record">
                    <f:format.raw>
                        {record.renderedContent}
                    </f:format.raw>
                </f:for>
            </div>

        </div>
    </div>
</div>

</f:section>