<f:layout name="Boxed" />

<f:section name="content">

<div class="row {flexFormData.bgcolor} {flexFormData.bgcolorcol} {flexFormData.flex} {flexFormData.hideOnMobile}
            {f:if(condition: '{flexform.marginPos} != \'-\'', then: 'm{flexFormData.marginPos}{flexFormData.margin}', else: 'my-0')}"
>
    <f:for each="{children_101}" as="record">
        <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 position-relative">
            <f:format.raw>
                {record.renderedContent}
            </f:format.raw>
        </div>
    </f:for>
    <f:for each="{children_102}" as="record">
        <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 position-relative">
            <f:format.raw>
                {record.renderedContent}
            </f:format.raw>
        </div>
    </f:for>
    <f:for each="{children_103}" as="record">
        <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 position-relative">
            <f:format.raw>
                {record.renderedContent}
            </f:format.raw>
        </div>
    </f:for>
    <f:for each="{children_104}" as="record">
        <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 position-relative">
            <f:format.raw>
                {record.renderedContent}
            </f:format.raw>
        </div>
    </f:for>
</div>

</f:section>