<f:layout name="Boxed"/>

<f:section name="content">
    <div class="member-slider m{flexform.marginPos}{flexform.margin}">
        <f:for each="{children_101}" as="record">
            <div class="member-slider-item pl-2 pr-2">
                <f:format.raw>
                    {record.renderedContent}
                </f:format.raw>
            </div>
        </f:for>
    </div>
</f:section>